@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

img { 
    max-width: 100%;
}

.purple {
    color: rgba(100, 21, 255, 1);
}
.white {
    color: white;
}

p {
    line-height: 1.5;
}

button {
    cursor: pointer;
}


ol { 
    list-style-type: none;
}

/* NAVIGATION BAR */

.nav__container {
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
    height: 150px;
}
.nav__logo--wrapper {
    display: flex;
    align-items: center;
}
.nav__logo--container {
    display: flex;
    align-items: center;
}

.logo__name {
    color: #243E63;
    font-size: 24px;
    font-weight: 900;
    padding-left: 8px;
    text-align: center;
}

.nav__link--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.nav__link {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: transparent;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24;
    color: #243E63;
    transition: all 500ms ease;
}
    .nav__link:hover {
        color: #6415ff;
        border-bottom-color: #6415ff;
      }

.nav__link--signup {
    border-radius: 30px;
    background-color: rgb(100, 21, 255);
    color: rgba(247, 250, 252, 1);
    padding: 0.75rem 2rem;

}

/* 
HEADER
*/

.header__container {
    display: flex;
    padding: 0 24px;
}

.header__container--text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__style {
    font-size: 36px;
    padding: 24px 0;
    width: 100%;
}

.header__para {
    font-size: 16px;
    color: #243E63;
    width: 100%;
}

.input-container {
    padding: 24px 0;
    position: relative;
    display: inline-block;
}

.email {
    border: 2px solid #e2e8f0;
    border-radius: 60px;
    padding: 20px 1px 20px 1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-indent: 5%;
    width: 100%;
}

.button {
    border: 2px solid #6415FF;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgb(100, 21, 255);
    color: rgba(247, 250, 252, 1);
    padding: 16px 28px;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    right: 4px;
    width: 45%;
    top: 30px;
}

.email:focus {
    outline: none;
}

.email:hover {
    border-color: rgba(160, 174, 192, 1);
}

.email::placeholder {
    color: rgb(226, 232, 240);
    transition: color 300ms ease;
  }

.email:focus::placeholder {
    color: transparent;
}

h5 {
    color: #A0AEC0;
}

.customers__img--container {
    width: 80%;
    margin-top: 50px;
}

.customers__img {
    opacity: 0.5;
}
.trusted__customers {
    margin-top: 20px;
}

.firstimg {
    width: 60%;
    margin-left: 20px;
}


/* FEATURES */

.row__features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80 px 0;
}

.features__title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 12px;
}

.features__header {
    font-weight: 900;
    font-size: 48px;
    padding: 16px 0;
    color: #243E63;
    letter-spacing: 0.025em;
    width: 100%;
    text-align: center;
}
.features__para {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 16px 0;
    line-height: 1.5;
    padding: 0 24px;
    width: 100%;
    max-width: 600px;
    color: #7C8BA1;
}
.services__container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
    margin: 20px 0;
}
.services {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 0px;
}

.service__logo {
    padding: 12px 0;
}

.service__img {
    min-width: 40px;
    height: 40px;
    border: 1px solid #7C8BA1;
    border-radius: 50%;
    padding: 10px;
}

.service__description--title {
    font-size: 24px;
    color: #243E63;
    padding: 8px 0;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
    margin-top: 1rem;
}

.service__description {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
}

.service__description--para {
    font-size: 16px;
    color: #7C8BA1;
    line-height: 2;
    opacity: 1;
    margin-top: 1rem;
    font-weight: 500;
    padding: 8px 0;
}

/* 
QUALITY WORK 
*/

.quality__work--container {
    display: flex;
    margin: 0;
    align-items: center;
}

.quality__work--text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quality__work--title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 12px;
}

.quality__work--header {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
    color: #243E63;
    margin-bottom: 12px;
}

.quality__work--para {
    font-size: 16px;
    color: #7C8BA1;
    line-height: 2;
    opacity: 1;
    margin-top: 1rem;
    font-weight: 500;
}

.quality__work--imgwrapper {
    width: 50%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quality__work--button {
    border: 2px solid #6415FF;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgb(100, 21, 255);
    color: rgba(247, 250, 252, 1);
    padding: 12px 32px;
    font-weight: 700;
    font-size: 16px;
    margin: 30px 0;
    max-width: 160px;
}

.quality__work--img {
    max-width: 100%;
}

/* STEPS */

.steps__container {
    display: flex;
}

.steps__img--wrapper {
    width: 552px;
    height: 315px;
    margin: 0 auto;
    padding-top: 80px;
}

.steps__img {
    width: 100%;
    max-width: 900px;
}

.steps__text--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 70px;
}
.steps__title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 12px;
}

.steps__header {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
    color: #243E63;
    margin-bottom: 12px;
    padding: 24px 0;
}

.steps__number--wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    padding-bottom: 24px;
    width: 100%;
    max-width: 1000px;

}

.number__style {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    opacity: 1;
    color: rgb(203 213 224);
    max-width: 350px;
    margin: 0 24px;
}

.number__title {
    font-size: 20px;
    color:#243E63;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    padding: 12px 0;
}
.number__text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    --tw-text-opacity: 1;
    color: rgb(113 128 150);
    margin: 12px 0px 0px;
}

/* VALUES */

.values__container {
    display: flex;
    flex-direction: row;
}

.values__text--container {
    width: 50%;
    margin-left: 30px;
}

.values__title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 12px;
}

.values__header {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
    color: #243E63;
    margin-bottom: 12px;
    padding: 24px 0;
}

.values__para {
    font-size: 16px;
    color: #7C8BA1;
    line-height: 2;
    opacity: 1;
    margin-top: 1rem;
    font-weight: 500;
}

.values__button {
    border: 2px solid #6415FF;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgb(100, 21, 255);
    color: rgba(247, 250, 252, 1);
    padding: 12px 32px;
    font-weight: 700;
    font-size: 16px;
    margin: 30px 0;
    max-width: 160px;
}


.values__img--container {
    width: 50%;
}

.values__img {
    max-width: 100%;
}

.values__info--container {
    padding: 12px;
    margin-top: 15px;
}
.values__info {
    display: flex;
}

.values__info--a
.values__info--b {
    display: flex;
    flex-direction: column;
}

.values__info--a-header {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.values__info--b-header {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.values__logo-1{
    padding: 8px;
    margin-right: 12px;
    color: #3a7c5b;
    background-color: #9ae69a;
    border-radius: 99px;
    height: 36px;
    width: 36px;
  }

.values__logo-2{
    padding: 8px;
    margin-right: 12px;
    color: #9b2c2c;
    background-color: rgb(254 178 178);
    border-radius: 9999px;
    height: 36px;
    width: 36px;
  }

  .values__info--title {
    text-align: center;
    color: #243E63
  }
  
  .values__info--para {
    color: #7c8ba1;
    margin: 12px 0;
  }

/* PRICING */


.pricing__container {
    display: flex;
    flex-wrap: wrap;
}

.pricing__section {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

.pricing__text--container {
    width: 100%;
    align-items: center;
    text-align: center;
}

.pricing__section--personal {
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    padding: 12px;
}


.pricing__section--business {
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 25px;
    padding: 12px;

}

.pricing__section--enterprise {
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    padding: 12px;
}

.pricing__title {
    font-size: 20px;
    text-align: center;
    line-height: 2;
    font-weight: 700;
    margin: 10px 0;
}

.cost {
    font-size: 48px;
    text-align: center;
    line-height: 2;
    font-weight: 700;
    margin: 5px 0;
}

.frequency {
    font-size: 16px;
    color: #A0AEC0;
    line-height: 2;
    text-align: center;
    font-weight: 700;
    margin: 5px 0;
}

.customer__type {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 3;
    text-align: center;
    margin: 5px 0;
}

.pricing_lists {
    font-size: 16px;
    color: #718096;
    line-height: 3;
    text-align: center;
    font-weight: 500;
    margin: 5px 0;
}

.pricing__button1 {
    margin-top: auto;
    border: 2px solid;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgb(56, 178, 172);
    color: rgba(247, 250, 252, 1);
    padding: 16px 28px;
    font-weight: 700;
    font-size: 16px;
    right: 4px;
    width: 45%;
    top: 30px;
    margin-left: 80px;
    margin-top: 20px;
    

}
.pricing__button2 {
    border: 2px solid white;
    font-size: 16px;
    border-radius: 30px;
    background-color: white;
    color: #6415FF;
    padding: 16px 28px;
    font-weight: 700;
    font-size: 16px;
    right: 4px;
    width: 45%;
    top: 30px;
    margin-left: 80px;
    margin-top: 20px;

}

.pricing__button3 {
    border: 2px solid white;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgb(245, 101, 101);
    color: white;
    padding: 16px 28px;
    font-weight: 700;
    font-size: 16px;
    right: 4px;
    width: 45%;
    top: 30px;
    margin-left: 80px;
    margin-top: 20px;
    
    

}


rgb(245, 101, 101)

/* TESTIMONIALS */

.testimonials__container {
    display: flex;
    align-items: center;
}

.testimonials__img--wrapper {
    width: 100%;
}

.testimonials__text--wrapper {
    width: 100%;
    margin-left: 40px;
}

.testimonials__title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 12px;
}

.testimonials__header {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
    padding: 24px 0;
}

.testimonials__para {
    color: #7C8BA1;
    font-size: 18px;
    padding-bottom: 24px;
    font-weight: 500;
}

.ratings {
    color: rgb(246 173 85);
    padding: 16px 0;
}

.testimonial__subtitle {
    font-size: 20px;
    font-weight: 700;
    color: #234E63;
    margin-bottom: 16px;
}

.testimonial__subpara {
    font-size: 16px;
    color: #4A5568;
    padding: 16px 0px 40px;
}
.user__testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user__abt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user__img {
    border: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-right: 12px;
}

.user__name {
    color: #234E63;
    font-weight: 700;
    margin-left: 8px;
}

.user__title {
    color: #7C8BA1;
    font-weight: 500;
    --tw-text-opacity: 1;
    margin-left: 8px;
}

.arrows{
    display: flex;
  }
  
  .arrow__right,
  .arrow__left {
    width: 100%;
    width: 48px;
    height: 48px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-radius: 999px;
    font-weight: 900;
    padding: 1rem;
    border: none;
    background-color: rgb(237 242 247);
  }
  
  .arrow__right:hover,
  .arrow__left:hover {
    background-color: rgb(226 232 240);
  }
  
  .right__arrow,
  .left__arrow {
    width: 16px;
    height: 16px;
    color: #6415ff;
  }

  /* FAQS */

  .faqs__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faqs__questions {
    cursor: not allowed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #2D3748;
    font-weight: 600;
    background-color: #EDF2F7;
    border-radius: 10px;
    margin-top: 20px;
    padding: 16px 40px;
    font-size: 20px;
  }
  .faqs__questions:hover {
    background-color: rgb (226 232 240);
  }

  .faqs__list {
    width: 70%;
    align-items: center;
  }

  /* BANNER */

  .banner__container {
    background-color: #6415FF;
    border: 2px solid #6415FF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
  }

.banner__header--container {
    padding: 12px;
}

  .banner__header {
    color: #F7FAFC;
    font-size: 30px;
    font-weight: 700;
    --tw-text-opacity: 1;
    text-align: left;
  }

  .banner__button--container {
    display: flex;
    margin-left: 20px;
  }

  .banner__button1 {
    border: none;
    font-size: 16px;
    border-radius: 30px;
    background-color: #F56565;
    color: rgba(247, 250, 252, 1);
    padding: 12px 32px;
    font-weight: 700;
    font-size: 16px;
    max-width: 160px;
  }

  .banner__button2 {
    border: 1px solid white;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgb(100, 21, 255);
    color: rgba(247, 250, 252, 1);
    padding: 12px 32px;
    font-weight: 700;
    font-size: 16px;
    max-width: 160px;
  }

  /* FOOTER */

  footer {
    padding-top: 32px;
  }

  .footer__container {
    background-color: #6414FF;
  }

  .links__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6415FF;
    padding: 32px;
    border-bottom: 2px solid #742CFF;
  }

  .link__title {
    padding: 80px 0 16px 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: space-between;
    width: 20%;
    padding-bottom: 24px;
  }

  .link__primary {
    padding-left: 40px;
  }

  .link {
    color: white;
    padding: 16px 0;
    font-weight: 500;
  }

  .link:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  .row__footer {
    width: 100%;
    max-width: 1400px;
  }

  .footer__info {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 80px;
  }

  .footer__logo {
    display: flex;
    align-items: center;
  }

  .footer__info--title {
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 0 12px;
  }
  .footer__img {
    height: 40px;
    width: 40px;
  }

  .copyright__info {
    color: white;
    font-size: 16px;
  }

  .footer__links {
    display: flex;
  }

  .footer__link {
    margin: 0 8px;
    padding: 8px 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    color: black;
    transition: all smooth 300ms;
  }

  .footer__link:hover {
    background-color: #6415FF;
    color: white;
    transform: scale(1.2);
    border: none;
  }

  /* RESPONSIVENESS */

  @media (max-width: 1024px) {

    .button__menu {
        display: block;
    }
  
  .menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
  }

  .menu--open {
    max-height: 100vh;
    overflow-y: hidden;
  }

  .nav__links {
    display: none;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__container--text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__style {
    font-size: 36px;
    text-align: center;

  }
  .header__para {
    text-align: center;
  }

  .firstimg {
    width: 50%;
  }

  .services__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services{
    width: calc(100% / 2);
    max-width: 400px;
  }

  .quality__work--container {
    padding: 0 24px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .quality__work--para {
    font-size: 16px;
  }

  .steps__container {
    align-items: center;
  }

  .steps__title {
    padding: 4px 0;
  }

  .values__container {
    padding: 0 28px;
    align-items: center;
  }

  .testimonials__para {
    text-align: center;
  }

  .faqs__container {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .faqs__list {
    margin-right: 50px;
  }

  .banner__container {
    display: flex;
    margin-left: 25px;
  }

  .footer__container {
    width: 100%;
  }
  }

  @media(max-width: 768px){

  .header__style {
    font-size: 30px;
}

.nav__link--list {
    display: none;
}

.button__menu {
    display: block;
}

.input__container {
    width: 100%;
}

.header__container {
    flex-direction: column;
    align-items: center;
}

.header__container--text {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.firstimg {
    width: 70%;
}

.header__para {
    align-items: center;
}

.header__style {
    font-size: 36px;
}

.values__text {
    flex-direction: column;
}

.values__info--container {
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 16px ;
}

button {
    font-size: 14px;
}

.section__para {
    font-size: 16px;
}

.services {
    width: calc(100%/2);
}


.user__testimonial {
    justify-content: flex-start;
    width: 100%;
}

.user__title {
    text-align: center;
}

}

@media (max-width: 550px) {
.header__img--wrapper {
    width: 100%;
}

p{
    font-size: 14px;
}

.header__input{
    padding: 16px 0 16px 32px;
}

.header__input--button{
    position: relative;
    width: 100%;
    margin: 16px 0;
    padding: 16px 0;
}

.features__services--service {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.service__title{
    margin-top: 8px;
}

.service__para{
    margin-top: 4px;
}

.service__text--wrapper{
    padding: 0;
}

.section__wrapper{
    flex-direction: column-reverse;
}

.section__description--wrapper{
    width: 100%;
    text-align: center;
}

.section__description{
    padding: 0;
    text-align: center;
}

.section__title{
    font-size: 30px;
}

.section__img--wrapper{
    width: 100%;
    margin: 64px 0px;

}

.steps__wrapper--section{
    flex-direction: column;
}

.steps__wrapper{
    flex-direction: column;
    align-items: center;
}

.steps__number{
    margin: 0;
}

.principle__title--wrapper{
    justify-content: center;
}

.testimonial__person--nav{
    justify-content: center;
}

.testimonial__person--wrapper{
    justify-content: center;
    flex-direction: column;
}

.person__name--wrapper{
    margin: 0;
}

.testimonial__button{
    margin: 0 12px; 
}

.started__wrapper{
    padding: 80px 20px;
}

.started__description--para{
    font-size: 24px ;
}

.started__buttons--wrapper{
    flex-direction: column ;
    align-items: center;
}

.get__started--button{
    margin: 0 0 16px 0;

}

.started__button{
    padding: 12px 24px;
}

.link__wrapper{
    width: calc(100%/3);
    text-align: center;
    margin-top: 48px;
}

.footer__links--list{
    justify-content: center;
    align-items: center;
}


.links__wrapper{
    justify-content: center;
}

.footer__wrapper{
    flex-direction: column;
}

.footer__logo{
    margin-bottom: 32px;
}

.footer__socials--wrapper{
    margin-top: 32px;
}
}

  

  




   
    

  
































    





